#chicken h2 {
    background-color: #d59898;
    color: #161616;
}

#beef h2 {
    background-color: #c14543;
    color: #e8e8e8;
}

#sushi h2 {
    background-color: #e5d198;
    color: #161616;
}

@media (max-width: 992px){
.col-desk-4 {
	width: 33%;
}
}

@media (min-width: 768) and (max-width: 991px){
.col-tablet-4 {
	width: 50%;
}	
}

@media (max-width: 767px){
.col-mobile-12 {
	width: 100%;
}	
}